extend ../layout/base

block title
    title Artículos
    
block styles
    link(rel="stylesheet", href="{{ asset('css/admin.css') }}")
    
block sidebar
    include ../partials/sidebar
    
block content
    .content
        h1.title Artículos archivados en <a href="{{ url('articles/tagged', $tag->name) }}" class="link">{{ $tag->name }}</a>
        include ../partials/tools
        
        // Posts list
        include ../partials/list
                    
block scripts
    script(src="{{asset('js/admin.js')}}")
            
