extend ../layout/base

block title
    title Actualizar Etiqueta - {{ $tag->name }}
    
block styles
    link(rel="stylesheet", href="{{ asset('css/admin.css') }}")
    
block sidebar
    include ../partials/sidebar
    
block content
    .content
        include ../partials/errors
        h1.title Editar etiqueta {{ $tag->name }}
        
        | {!! Form::model($tag, ['url' => url('admin/tags', $tag->name), 'method' => 'PATCH', 'class' => 'form']) !!}
        fieldset.fieldset
            //- legend.legend General
            .group
                | {!! Form::label('name', 'Nombre', ['class' => 'label']) !!}
                | {!! Form::text('name', null, ['class' => 'input']) !!}
        fieldset.fieldset
            .group
                | {!! Form::submit('Actualizar', ['class' => 'btn blue submit-right']) !!}
        | {!! Form::close() !!}

block scripts
    script(src="{{ asset('js/admin.js') }}")
