extend ../layout/base

block title
    title Create Article
    
block content
    .row
        .column.medium-12
        | {!! Form::model($article = new \App\Article, ['url' => 'articles']) !!}
        fieldset
            legend CREATE ARTICLE
            include ../mixins/blade
            +include("articles.partials.form", "['submitButtonText' => 'Create Article']")
        | {!! Form::close() !!}
