extend ../layout/base

block title
    title Actualizar Artículo - {{ $article->title }}
    
block styles
    link(rel="stylesheet", href="{{ asset('css/admin.css') }}")
    
block sidebar
    include ../partials/sidebar
    
block content
    .content
        | {!! Form::model($article, ['url' => url('articles', $article->id), 'method' => 'PATCH', 'class' => 'form', 'files' => true]) !!}
        include ../mixins/blade
        +include("articles.partials.form", "['submitButtonText' => 'Actualizar']")
        | {!! Form::close() !!}

block scripts
    script(src="{{ asset('js/admin.js') }}")
