extend ../layout/base

block title
    title Articles
    
block content
    .row
        h1 Articles
    
    include ../mixins/blade
    
    .row
        .column.medium-12
            +if('$articles')
                ul.disc
                    +foreach('$articles as $article')
                        li: a(href!="{{ url('articles', $article->id) }}") {{ $article->title }}
                +else
                    h4 There's not articles yet :(
                    
            
