extend ../layout/base

block title
    title Artículos
    
block styles
    link(rel="stylesheet", href="{{ asset('css/admin.css') }}")
    
block sidebar
    include partials/sidebar
    
block content
    .content
        h1.title Tus artículos
        .tools
            ul.tabs
                li.tab
                    a.link.active(href="#", data-tab="published") Publicados
                li.tab
                    a.link(href="#", data-tab="unpublished") Por publicar
            .search
                span.typcn.typcn-zoom
                input(type="search", name="s", placeholder="Buscar...")
        
        // Posts list
        include ../mixins/blade
        //- Published
        ul.posts.active.tabbed#published
            +if('!$published->isEmpty()')
                +foreach('$published as $article')    
                    include partials/post
                +else
                    .empty
                        i.fa.fa-frown-o
                        h4.legend Aún no tienes artículos publicados
                        a.btn.blue(href="{{ url('articles/create') }}") Escribe tu primer artículo
                            
        //- Drafts
        ul.posts.tabbed#unpublished        
            +if('!$unpublished->isEmpty()')
                +foreach('$unpublished as $article')    
                    include partials/post
                +else
                    .empty
                        i.fa.fa-meh-o
                        h4.legend No tienes artículos pendientes por publicar
                        a.btn.blue(href="{{ url('articles/create') }}") Escribe un artículo
                    
block scripts
    script(src="{{asset('js/admin.js')}}")
            
