extend ../layout/base

block title
    title Artículos
    
block styles
    link(rel="stylesheet", href="{{ asset('css/admin.css') }}")
    
block sidebar
    include ../partials/sidebar
    
block content
    include ../partials/flash
    .content
        h1.title Tus artículos
        include ../partials/tools
        
        // Posts list
        include ../partials/list
                    
block scripts
    script(src="{{asset('js/admin.js')}}")
            
