.editor
    .title
        .options
            .btn.blue.publish.drop-trigger(data-drop="settings")
                | {{ $submitButtonText }}
                span.typcn.typcn-arrow-sorted-down
            #settings.settings.drop
                .group
                    | {!! Form::label('cover', 'Cover image', ['class' => 'label']) !!}
                    | {!! Form::file('cover', ['class' => 'file img']) !!}
                .group
                    | {!! Form::label('tags', 'Tags', ['class' => 'label']) !!}
                    | {!! Form::select('tag_list[]', $tags, null, ['multiple', 'class' => 'select2']) !!}
                .group
                    | {!! Form::label('published_at', 'Publish', ['class' => 'label']) !!}
                    | {!! Form::text('published_at', null, ['class' => 'datepicker input']) !!}
                .group
                    | {!! Form::label('twitter', 'Post to twitter', ['class' => 'label']) !!}
                    | {!! Form::checkbox('twitter', 1, null, ['class' => 'onoffswitch']) !!}
                .group
                    | {!! Form::submit($submitButtonText, ['class' => 'btn blue']) !!}
        | {!! Form::text('title', null, ['placeholder' => 'Your article title', 'id' => 'input-title']) !!}
    .body
        | {!! Form::textarea('body', null, ['class' => 'editable']) !!}
