extend partials/base

block title
    title Blog

block content
    include partials/nav
    .bg-top.up-in
    include partials/header
    include partials/articles
    
block footer
    include partials/footer
