.editor
    .title
        .options
            .btn.blue.publish.drop-trigger(data-drop="article-settings")
                | {{ $submitButtonText }}
                span.typcn.typcn-arrow-sorted-down
            #article-settings.settings.drop
                .group
                    | {!! Form::label('cover', 'Imagen de portada', ['class' => 'label']) !!}
                    | {!! Form::file('cover', ['class' => 'file img']) !!}
                    include ../mixins/blade
                    +if("!is_null($article->files()->first())")
                        .preview.wide(style!="background: url({{ url('/') . $article->files()->first()->url }}) no-repeat; background-size: cover;")
                .group
                    | {!! Form::label('tags', 'Etiquetas', ['class' => 'label']) !!}
                    | {!! Form::select('tag_list[]', $tags, null, ['multiple', 'class' => 'select2']) !!}
                .group
                    | {!! Form::label('published_at', 'Fecha de publicación', ['class' => 'label']) !!}
                    | {!! Form::text('published_at', \Carbon\Carbon::now()->tz('America/Mexico_City')->format('Y-m-d'), ['class' => 'datepicker input']) !!}
                .group
                    | {!! Form::label('twitter', 'Publicar en twitter', ['class' => 'label']) !!}
                    | {!! Form::checkbox('twitter', 1, null, ['class' => 'onoffswitch']) !!}
                .group
                    | {!! Form::submit($submitButtonText, ['class' => 'btn blue']) !!}
        | {!! Form::text('title', null, ['placeholder' => 'El título de tu artículo', 'id' => 'input-title']) !!}
    .body
        | {!! Form::textarea('body', null, ['class' => 'editable']) !!}
