include ../mixins/blade
//- Published
ul.posts.active.tabbed#published
    +if('!$published->isEmpty()')
        +foreach('$published as $article')    
            include ../partials/post
        +else
            .empty
                i.fa.fa-frown-o
                h4.legend Aún no tienes artículos publicados
                a.btn.blue(href="{{ url('articles/create') }}") Escribe tu primer artículo
                    
//- Drafts
ul.posts.tabbed#unpublished        
    +if('!$unpublished->isEmpty()')
        +foreach('$unpublished as $article')    
            include ../partials/post
        +else
            .empty
                i.fa.fa-meh-o
                h4.legend No tienes artículos pendientes por publicar
                a.btn.blue(href="{{ url('articles/create') }}") Escribe un artículo
