aside.sidebar
    .profile
        .details
            .photo
                img.img(src="https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/48.jpg")
            .title Personal Blog
            .name Brenda Graham
            span.typcn.typcn-arrow-sorted-down
    nav.nav
        ul.options
            li.option
                a(href="{{ url('admin/articles/create') }}", class!="link {{ (request()->is('admin/articles/create')) ? 'active' : '' }}")
                    span.typcn.typcn-pen
                    | Nuevo artículo
            li.option
                a(href="{{ url('admin/articles') }}", class!="link {{ (request()->is('admin/articles') || request()->is('admin/articles/*') && !request()->is('admin/articles/create')) ? 'active' : '' }}")
                    span.typcn.typcn-document-text
                    | Contentido
            li.option
                a(href="{{ url('admin/tags') }}", class!="link {{ (request()->is('admin/tags') || request()->is('admin/tags/*')) ? 'active' : '' }}")
                    span.typcn.typcn-tags
                    | Etiquetas
            li.option
                a.link(href="{{ url('admin/settings') }}", class!="link {{ (request()->is('admin/settings') || request()->is('admin/settings/*')) ? 'active' : '' }}") 
                    span.typcn.typcn-cog
                    | Ajustes
