.tools
    ul.tabs
        li.tab
            a.link.active(href="#", data-tab="published") Publicados
        li.tab
            a.link(href="#", data-tab="unpublished") Por publicar
    .search
        span.typcn.typcn-zoom
        input(type="search", name="s", placeholder="Buscar...")
