@keyframes drop-in
    from
        visibility: hidden
        +opacity(0)
        transform: translateY(-1rem)
    to
        visibility: visible
        +opacity(1)
        transform: translateY(0)
