.editor
    width: rem(800px)
    margin: 0 auto
    .title
        border-bottom: 1px solid $clouds
        .options
            float: right
            margin-bottom: 0.5em
            position: relative
            .publish
                .typcn
                    pointer-events: none
            .settings
                position: absolute
                top: 100%
                right: 0
                padding: 2rem
                .preview
                    width: 100%
                .btn
                    float: right
        #input-title
            border: 0
            +font-size(24px)
            color: $dark
            width: 100%
            padding-bottom: 0.5em
            // font-family: 'Lora', Georgia, serif
            font-family: 'Varela Round', Helvetica, Arial, sans-serif
    .body
        padding-top: 2em
        .editable
            border: 0
            width: 100%
            resize: none
            color: $dark
            font-family: 'Merriweather', Georgia, serif
            +font-size(20px)
            line-height: rem(36px)
            // Titles
            +headings
            // Blockquotes
            blockquote
                color: $light
                padding-left: 1rem
                border-left: 3px solid $clouds
                font-style: italic
            // Anchors
            a
                color: $blue
            // Lists
            ol, ul
                padding-left: 1em
            ol
                list-style: decimal
            ul
                list-style: disc
            // Fix spans
            p
                color: $dark
                line-height: rem(36px)
                margin: 1.5rem auto 1.5rem auto
                span[style]
                    font-size: inherit!important
                    line-height: inherit!important
            figure
                img
                    max-width: 100%
                    border-radius: rem(3px)
                figcaption
                    font-style: italic
                    +font-size(14px)
                    color: $light
                    text-align: center
            &:hover
                cursor: text
