.articles
    [class^="col-"]
        +breakpoint($medium)
            width: calc(100% / 3)
        +breakpoint($small)
            width: calc(100% / 2)
        +breakpoint($xsmall)
            width: 100%
    .wrapper
        .row
            // @for $i from 2 through 9
            //     [class^="col-"]:nth-child(#{$i})
            //         animation: show-in 0.8s #{0.1s * $i} forwards ease
    .section-title
        font-family: 'Varela'
        +font-size(16px)
        color: $gray
        text-transform: uppercase
        border-bottom: 1px solid $thin
        margin: 1rem 1rem 0 1rem
    .article
        position: relative
        border-radius: rem(3px)
        box-shadow: 0 5px 14px 5px rgba(0,0,0,0.3)
        overflow: hidden
        height: rem(300px)
        transition: all 0.1s ease
        &:hover
            transform: scale(1.03)
            transition: all 0.3s ease
        & > *
            position: relative
            z-index: 1
        .cover
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            +over-gradient
        .title
            display: block
            font-family: 'Montserrat'
            font-weight: bold
            +font-size(25px)
            color: white
            text-transform: uppercase
            background: rgba(52,73,94,0.26)
            padding: 1rem
        .details
            font-family: 'Varela'
            +font-size(14px)
            color: white
            padding: 1rem
            text-shadow: 0 2px 4px rgba(0,0,0,0.5)
        .tag
            font-family: 'Varela'
            +font-size(13px)
            text-transform: uppercase
            text-shadow: 0 2px 4px rgba(0,0,0,0.5)
            letter-spacing: 0.1em
            color: white
            position: absolute
            bottom: 1.5rem
            left: 1rem
        .read
            position: absolute
            bottom: 1rem
            right: 1rem

    .pagination
        padding: 3rem 1rem 0 1rem
        position: relative
        z-index: 1
        .previous
            float: left
            padding-left: 0.8em
        .next
            float: right
            padding-right: 0.8em
