.articles
    [class^="col"]
        +breakpoint($medium)
            width: calc(100% / 3)
        +breakpoint($small)
            width: calc(100% / 2)
        +breakpoint($xsmall)
            width: 100%
    .section-title
        font-family: 'Varela'
        +font-size(16px)
        color: $gray
        text-transform: uppercase
        border-bottom: 1px solid $thin
        margin: 1rem 1rem 0 1rem
    .article
        position: relative
        border-radius: rem(3px)
        box-shadow: 0 5px 14px 5px rgba(0,0,0,0.3)
        overflow: hidden
        height: rem(300px)
        transition: all 0.1s ease
        &:hover
            transform: scale(1.03)
            transition: all 0.3s ease
        & > *
            position: relative
            z-index: 1
        .cover
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            .img
                pointer-events: none
                height: 100%
                position: relative
                left: 50%
                transform: translateX(-50%)
                z-index: 0
        .title
            display: block
            font-family: 'Montserrat'
            font-weight: bold
            +font-size(25px)
            color: white
            text-transform: uppercase
            background: rgba(52,73,94,0.26)
            padding: 1rem
        .details
            font-family: 'Varela'
            +font-size(14px)
            color: white
            padding: 1rem
            text-shadow: 0 2px 4px rgba(0,0,0,0.5)
        .tag
            font-family: 'Varela'
            +font-size(13px)
            text-transform: uppercase
            text-shadow: 0 2px 4px rgba(0,0,0,0.5)
            letter-spacing: 0.1em
            color: white
            position: absolute
            bottom: 1.5rem
            left: 1rem
        .read
            position: absolute
            bottom: 1rem
            right: 1rem

    .load-more
        padding-top: 3rem
        text-align: center
        position: relative
        z-index: 1
        .btn
            +font-size(16px)
