html
    font-size: $base-font-size

=boxie
    border-radius: rem(3px)
    box-shadow: 0 5px 14px 5px rgba(0,0,0,0.3)
    overflow: hidden

.glassy
    background: linear-gradient(rgba($white,1), rgba($black,1))
    .img
        +opacity(0.8)

$large: "max-width: 1000px"
$medium: "max-width: 900px"
$small: "max-width: 680px"
$xsmall: "max-width: 480px"
