$columns: 12
$gutter: 1em
$max-width: 1000px

=breakpoint($size)
    @media only screen and ($size)
        @content

*, *:after, *:before
    margin: 0
    padding: 0
    box-sizing: border-box

img
    // height: auto!important
    // max-width: 100%
    width: auto

.wrapper
    margin: 0 auto
    width: 100%

.wrapper:after,
.row:after
    content: " "
    display: table
    clear: both

[class*='col-']
    float: left
    min-height: 1px
    padding: $gutter
    width: 100%

+breakpoint("min-width: 20em")
    .wrapper
        width: 100%
        max-width: $max-width

    @for $i from 1 through $columns
        .col-#{$i}
            width: 100% / $columns * $i

+breakpoint("max-width: 1000px")
    .header
        // display: none
