.nav
    background: white
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.23)
    padding: 0.5em 0
    .logo
        float: left
        .subtitle
            font:
                family: 'Lato'
                style: italic
            +font-size(13px)
            color: $gray
            position: relative
            top: rem(-7px)
            margin-left: 0.5em
    .tags
        float: right
        position: relative
        top: rem(7px)
        .option
            float: left
            margin: 0 0.5em
            .link
                color: $green
                font-family: 'Varela', sans-serif
                +font-size(12px)
                text-transform: uppercase
