extend ../layout/base

block title
    title Blog

block content
    include ../includes/nav
    .bg-top.up-in
    include partials/header
    include partials/articles
    
block footer
    include ../includes/footer
