.footer
    background: rgba($white, 0.2)
    color: $gray
    text-align: center
    font-family: 'Lato', 'Varela Round', Helvetica, Arial, sans-serif
    font-style: italic
    margin: 0 1rem
    padding: 1rem 0.5rem
    border-radius: rem(3px)
    .love
        color: $red
    .link
        color: $green
    .img
        margin: 0.5rem 0
