.footer
    background: rgba($white, 0.2)
    color: lighten($dark, 15)
    text-align: center
    font-family: 'Lato', 'Varela Round', Helvetica, Arial, sans-serif
    font-style: italic
    margin: 0 1rem
    padding: 1rem 0.5rem
    border-radius: rem(3px)
    animation: show 0.8s forwards ease
    .love
        color: $red
    .link
        +link
    .img
        margin: 0.5rem 0
