.profile
    margin: 0 auto
    padding-top: calc(#{rem(80px)} + 2rem)
    .photo
        background: $soft
        border-radius: 50%
        overflow: hidden
        width: rem(80px)
        height: rem(80px)
        margin: 0 auto
        +shadow
        animation: show 0.8s forwards ease
    .networks
        +clear
        padding: 1rem 0
        margin: 0 auto
        .network
            float: left
            margin-right: 1em
            +opacity(0)
            &:last-child
                margin-right: 0
            @for $i from 1 through 12
                &:nth-child(#{$i})
                    animation: show 0.8s #{0.1s * $i} forwards ease
    .bio
        padding: 1rem
        padding-top: 0
        font-family: 'Merriweather', Georgia, serif
        +font-size(16px)
        color: $dark
        text-align: center
        line-height: 1.4em
        animation: show 0.8s forwards ease
        .link
            +link
