.stream
    padding: 1rem 0
    .article
        +opacity(0)
        @for $i from 1 through 5
            &:nth-child(#{$i})
                animation: show 0.8s #{0.1s * $i} forwards ease
        .cover
            .img
                border-radius: rem(3px)
                +shadow
                width: 100%
            +breakpoint($small)
                float: none
                width: 100%
                text-align: center
                padding-bottom: 0
                .img
                    width: rem(320px)
            +breakpoint($xsmall)
                .img
                    width: 100%
        .content
            padding-left: 0
            font-family: 'Merriweather', Georgia, serif
            +breakpoint($small)
                float: none
                width: rem(320px)
                padding-top: 0.5rem
                padding-right: 0
                margin: 0 auto
                text-align: center
                +clear
            +breakpoint($xsmall)
                width: 100%
                padding-left: 1rem
                padding-right: 1rem
            .date
                +font-size(14px)
                color: $gray
                .comments
                    color: $green
                    &:hover
                        color: $blue
                        transition: all 0.3s ease
                +breakpoint($small)
                    text-align: left
            .title
                display: block
                +font-size(16px)
                margin-bottom: 0.5rem
                +breakpoint($small)
                    text-align: left
                .link
                    color: $dark
                    &:hover
                        color: $green
                        transition: all 0.3s ease
            .excerpt
                color: $dark
                font-style: italic
                +font-size(14px)
                margin-bottom: 0.5rem
                +breakpoint($small)
                    text-align: left
            .read
                font-family: 'Varela Round', Helvetica, Arial, sans-serif
                +font-size(14px)
                text-transform: uppercase
                letter-spacing: rem(1px)
                +link
                +breakpoint($small)
                    +font-size(18px)
