.topbar
    // background: $white
    position: fixed
    top: 0
    left: 0
    width: 100%
    .logo
        float: left
        .img
    .options
        float: right
        .option
            float: left
            margin: 0 0.6em
            .link
                color: $green
                font-family: 'Varela Round', Helvetica, Arial, sans-serif
                +font-size(12px)
                text-transform: uppercase
