nav.nav
    .wrapper
        a.logo(href="#")
            img.img(src="{{ asset('img/asael_logo.svg') }}", alt="Asael Logo")
            span.subtitle Las aventuras de Asael
        ul.tags
            li.option: a.link(href="") Diseño
            li.option: a.link(href="") Web
            li.option: a.link(href="") Fotografía
            li.option: a.link(href="") Cine
            li.option: a.link(href="") Libros
            li.option: a.link(href="") Viajes
            li.option: a.link(href="") ¿Quién es Asael?
            li.option: a.link(href="") Contáctame
