extend ../layout/base

block title
    title Ajustes
    
block styles
    link(rel="stylesheet", href="{{ asset('css/admin.css') }}")
    
block sidebar
    include ../partials/sidebar
    
block content
    include ../partials/errors
    .content
        h1.title Ajustes
        
        | {!! Form::model($setting, ['url' => url('admin/settings', $setting->id), 'class' => 'form settings-form', 'method' => 'PATCH','files' => true]) !!}
        fieldset.fieldset
            legend.legend Datos del blog
            .group
                | {!! Form::label('title', 'Título', ['class' => 'label']) !!}
                | {!! Form::text('title', null, ['class' => 'input']) !!}
            .group
                | {!! Form::label('description', 'Descripción', ['class' => 'label']) !!}
                | {!! Form::textarea('description', null, ['class' => 'input autosize', 'size' => '50x3']) !!}
        .group
            | {!! Form::submit('Guardar', ['class' => 'btn blue submit-right']) !!}
        | {!! Form::close() !!}
                    
block scripts
    script(src="{{asset('js/admin.js')}}")
            
