#profile(class!="tabbed {{ (!is_null($current) && $current == 'profile') ? 'active' : '' }}")
    | {!! Form::model($user, ['url' => url('admin/users', $user->slug), 'class' => 'form settings-form', 'method' => 'PATCH','files' => true]) !!}
    .group
        | {!! Form::label('profile_pic', 'Foto de perfil', ['class' => 'label']) !!}
        | {!! Form::file('profile_pic', ['class' => 'file img']) !!}
        .preview.square(style!="background: url({{ (!is_null($user->files()->first())) ? url($user->files()->first()->url) : asset('img/1f47d.svg') }}) no-repeat center center; background-size: cover;")
    .group
        | {!! Form::label('name', 'Nombre', ['class' => 'label']) !!}
        | {!! Form::text('name', null, ['class' => 'input']) !!}
    .group
        | {!! Form::label('occupation', 'Ocupación', ['class' => 'label']) !!}
        | {!! Form::text('occupation', null, ['class' => 'input']) !!}
    .group
        | {!! Form::label('bio', 'Biografía', ['class' => 'label']) !!}
        | {!! Form::textarea('bio', null, ['class' => 'input autosize', 'size' => '50x3']) !!}
    .group
        | {!! Form::label('email', 'Correo electrónico', ['class' => 'label']) !!}
        | {!! Form::text('email', null, ['class' => 'input']) !!}
    .group
        | {!! Form::submit('Guardar', ['class' => 'btn blue submit-right']) !!}
    | {!! Form::close() !!}
