.articles
    .wrapper
        .row
            .col-3
                article.article
                    .cover.glassy
                        img.img(src="{{ asset('img/cover.jpg') }}", alt="cover")
                    h2.title My trip to Taiwan
                    .details
                        .date Enero 15, 2016
                        .comments 18 comentarios
                    .tag #VIAJES
                    a.read.btn.white(href="#") Leer
            .col-3
                article.article
                    .cover.glassy
                        img.img(src="{{ asset('img/cover.jpg') }}", alt="cover")
                    h2.title The amazing Spider-Man
                    .details
                        .date Enero 15, 2016
                        .comments 18 comentarios
                    .tag #VIAJES
                    a.read.btn.white(href="#") Leer
            .col-3
                article.article
                    .cover.glassy
                        img.img(src="{{ asset('img/cover.jpg') }}", alt="cover")
                    h2.title My trip to Taiwan
                    .details
                        .date Enero 15, 2016
                        .comments 18 comentarios
                    .tag #VIAJES
                    a.read.btn.white(href="#") Leer
            .col-3
                article.article
                    .cover.glassy
                        img.img(src="{{ asset('img/cover.jpg') }}", alt="cover")
                    h2.title My trip to Taiwan
                    .details
                        .date Enero 15, 2016
                        .comments 18 comentarios
                    .tag #VIAJES
                    a.read.btn.white(href="#") Leer
            .col-3
                article.article
                    .cover.glassy
                        img.img(src="{{ asset('img/cover.jpg') }}", alt="cover")
                    h2.title My trip to Taiwan
                    .details
                        .date Enero 15, 2016
                        .comments 18 comentarios
                    .tag #VIAJES
                    a.read.btn.white(href="#") Leer
            .col-3
                article.article
                    .cover.glassy
                        img.img(src="{{ asset('img/cover.jpg') }}", alt="cover")
                    h2.title My trip to Taiwan
                    .details
                        .date Enero 15, 2016
                        .comments 18 comentarios
                    .tag #VIAJES
                    a.read.btn.white(href="#") Leer
            .col-3
                article.article
                    .cover.glassy
                        img.img(src="{{ asset('img/cover.jpg') }}", alt="cover")
                    h2.title My trip to Taiwan
                    .details
                        .date Enero 15, 2016
                        .comments 18 comentarios
                    .tag #VIAJES
                    a.read.btn.white(href="#") Leer
