article.article.featured
    .cover(style="background: url({{ asset('img/cover.jpg') }}) no-repeat center center; background-size: cover;")
    h2.title It's not about the destination
    .excerpt
        p Tousled food truck polaroid, salvia bespoke small batch Pinterest Marfa. Fingerstache authentic craft beer, food truck Banksy Carles kale chips hoodie. Trust fund artisan master cleanse fingerstache post-ironic.
    .details
        .date Enero 15, 2016
        .comments 18 comentarios
    .tag #VIAJES
    a.read.btn.green(href="#") Leer
    .background
        img.img(src="{{ asset('img/bottom-bg.jpg') }}", alt="cover")
