header.header
    .wrapper
        .row
            .col-12
                .welcome.up-in
                    h1 Hola, soy Asael Jaimes y me gusta hacer cosas para internet. Soy diseñador web, desarrollador, nómada digital, aventurero, bloguero, youtuber, minimalista y entusiasta de la fotografía, entre otras cosas.
        .row
            .col-3
                include profile
            .col-9
                include featured
                        
