.profile.down-in
    .cover(style="background: url(https://pbs.twimg.com/profile_banners/53294337/1447581003/600x200) no-repeat center center; background-size: cover;")
    .photo(style!="background: url({{ url($admin->files()->first()->url) }}) no-repeat center center; background-size: cover;")
    .name {{ $admin->name }}
    .job {{ $admin->occupation }}
    ul.instagram#instafeed
    ul.social
        li.network
            a.link(href!="{{ $admin->twitter }}", target="_blank")
                img.img(src="{{ asset('img/twitter.svg') }}", alt="twitter")
        li.network
            a.link(href!="{{ $admin->facebook }}", target="_blank")
                img.img(src="{{ asset('img/facebook.svg') }}", alt="facebook")
        li.network
            a.link(href!="{{ $admin->instagram }}", target="_blank")
                img.img(src="{{ asset('img/instagram.svg') }}", alt="instagram")
        li.network
            a.link(href!="{{ $admin->youtube }}", target="_blank")
                img.img(src="{{ asset('img/youtube.svg') }}", alt="youtube")
    .background
        img.img(src="{{ asset('img/profile-bg.jpg') }}", alt="sea")
